
@{
    ViewData["Title"] = "Haku";
}

<h1>Haku</h1>

<form method="post">

    <div class="form-group">

        Hae aiheita:<br />

        <input type="text" id="haettuaihe" name="haettuaihe" />
       <div class="form-group">
           <input type="submit" value="Hae" class="btn btn-primary">
       </div>
        <div></div>
    </div>
</form>

