@model Continuousexercise.Models.Topic

@{
    ViewData["Title"] = "UusiAihe";
}

<h1>Aiheesi lisätty onnistuneesti.</h1>

<div>
    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ })*@ 
    <a asp-action="Aiheet">Kaikki aiheet</a>
</div>
